.bookImage {
  width: 100%;
  height: auto;
}

.descriptionWrapper {
  padding: 15px;
}

.bookTitle {
  margin-bottom: 10px;
  font-size: 25px;
}

.bookDescription {
  color: #918e8e;
}

@media screen and (max-width: 768px) {
  .bookTitle {
    font-size: 20px;
  }

  .bookDescription {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .bookTitle {
    font-size: 18px;
  }

  .bookDescription {
    font-size: 12px;
  }
}
